<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8"></meta>
  </head>
  <body>
    <header th:fragment="headerbar">
      <a th:href="@{/accounts/myprofile}">Oma profiili</a>
      <form th:action="@{/accounts/search}" method="GET">
        <input type="text" name="username" />
        <input type="submit" value="Hae!" />
      </form>
      <button>Logout</button>
    </header>
    
    <div th:fragment="usersearchresult(user)">
      <div th:if="${user != null}">
        <h4 th:text="${user.name}">Ketään ei löytynyt :/</h4>
      </div>
      <div th:unless="${user != null}">
        <h4>Ketään ei löytynyt :/</h4>
      </div>
    </div>
  </body>
</html>
