<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8"></meta>
  </head>
  <body>
    <header th:fragment="headerbar">
      <a th:href="@{/accounts/myprofile}">Oma profiili</a>
      <form th:action="@{/accounts/search}" method="GET">
        <input type="text" name="username" />
        <input type="submit" value="Hae!" />
      </form>
      <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
      </form>
    </header>
    
    <div th:fragment="usersearchresult(user)">
      <div th:if="${user != null}">
        <h4 th:text="${user.name}">Ketään ei löytynyt :/</h4>
        <form th:action="@{/follow/__${user.id}__}" method="POST">
          <input type="submit" value="Seuraa!"/>
        </form>
      </div>
      <div th:unless="${user != null}">
        <h4>Ketään ei löytynyt :/</h4>
      </div>
    </div>
    
    <div th:fragment="userinfo(user)">
      <div th:if="${user != null}">
        <p th:text="${user.name}"></p>
        <p th:text="${user.username}"></p>
      </div>
      <div th:unless="${user != null}">
        No info available
      </div>
    </div>
    
    <div th:fragment="listusers(users)">
      <div th:each="user : ${users}">
        <div th:replace="fragments/layout :: userinfo(${user})"></div>
      </div>
    </div>
    
    <div th:fragment="pendingfollows(follows)">
      <div th:each="follow : ${follows}">
        <p th:text="${follow.follower.getName()}">Seuraajan nimi</p>
        <form th:action="@{/follow/__${follow.id}__/confirm}" method="GET">
          <input type="submit" value="Hyväksy!" />
        </form>
        <form th:action="@{/follow/__${follow.id}__/decline}" method="GET">
          <input type="submit" value="Hylkää!" />
        </form>
      </div>
    </div>
  </body>
</html>
