<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head(title)">
    <title th:text="${title}">Title here</title>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  </head>
  <body>
    <header th:fragment="headerbar">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <ul class="navbar-nav mr-auto">
          <li class="navbar-item">
            <a class="nav-link" th:href="@{/accounts/myprofile}">Oma profiili</a>
          </li>
          <li class="navbar-item">
            <form th:action="@{/accounts/search}" method="GET">
              <input type="text" name="username" />
              <input type="submit" value="Hae!" />
            </form>
          </li>
        </ul>
        
        
        <div class="navbar-item">
          <form th:action="@{/logout}" method="POST">
            <input class="btn btn-dark" type="submit" value="Logout"/>
          </form>
        </div>
      </nav>
    </header>
    
    <div th:fragment="usersearchresult(user)">
      <div th:if="${user != null}">
        <h4 th:text="${user.name}">Ketään ei löytynyt :/</h4>
        <form th:action="@{/follow/__${user.id}__}" method="POST">
          <input type="submit" value="Seuraa!"/>
        </form>
      </div>
      <div th:unless="${user != null}">
        <h4>Ketään ei löytynyt :/</h4>
      </div>
    </div>
    
    <div th:fragment="userinfo(user)">
      <div th:if="${user != null}">
        <a th:href="@{/accounts/__${user.id}__/profile}" th:text="${user.name}"></a>
      </div>
      <div th:unless="${user != null}">
        No info available
      </div>
    </div>
    
    <table class="table" th:fragment="listusers(users)">
      <thead>
        <tr>
          <th scope="col">Nimi</th>
          <th scope="col">Kuva?</th>
        </tr>
      </thead>        
      <tbody th:each="user : ${users}">
        <tr>
          <td>
            <a th:href="@{/accounts/__${user.id}__/profile}" th:text="${user.name}"></a>
          </td>
          <td th:text="${user.username}"></td>
        </tr>
      </tbody>
    </table>
    
    <div th:fragment="pendingfollows(follows)">
      <div th:each="follow : ${follows}">
        <p th:text="${follow.follower.getName()}">Seuraajan nimi</p>
        <form th:action="@{/follow/__${follow.id}__/confirm}" method="GET">
          <input type="submit" value="Hyväksy!" />
        </form>
        <form th:action="@{/follow/__${follow.id}__/decline}" method="GET">
          <input type="submit" value="Hylkää!" />
        </form>
      </div>
    </div>
    
    <div th:fragment="listmessages(messages)">
      <div th:each="message : ${messages}">
        <div class="border p-1 pb-3">
          <p th:text="${message.text}"></p>
          <form>
            <textarea class="form-control" rows="1"></textarea>
            <input class="btn btn-success" type="submit" value="Kommentoi!" />
          </form>
          <a th:href="@{/messages/{id}/like}" class="btn btn-success">Tykkää!</a>
        </div>
      </div>
    </div>
  </body>
</html>
