<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/layout :: head('Kuva-albumi')">
        <meta charset="UTF-8" />
        <title>Kuva-albumi</title>
  </head>
  <body>
    <div th:replace="fragments/layout :: userinfo(${user})">
      
    </div>
    <div>
      <form th:action="@{/accounts/__${user.getId()}__/pictures}" method="POST" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="file"/>
        <textarea name="desc" rows="3"></textarea>
        <input type="submit" value="Lisää kuva!" />
      </form>
    </div>
    <div th:replace="fragments/layout :: listpictures(${picturedata})"></div>
  </body>
</html>
