<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/layout :: head('Kuva')">
        <meta charset="UTF-8" />
        <title>Kuva-albumi</title>
  </head>
  <body>
    <div class="container">
      <div>
        <img th:src="@{/pictures/__${picture.id}__}" />
      </div>
    </div>
  </body>
</html>
