<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/layout :: head('Profile')">
    <title>Profile</title>
    <meta charset="UTF-8"></meta>
  </head>
  <body>
    <header th:replace="fragments/layout :: headerbar"></header>
    <h2 th:text="${user?.name}">Profile page</h2>
    <div>
      <h3>User profile page</h3>
      <div th:replace="fragments/layout :: userinfo(${user})"></div>
      <h4>Odottavat seurauspyynnöt:</h4>
      <div th:replace="fragments/layout :: pendingfollows(${pendingfollows})"></div>
      <div>
        <h4>Seuraamasi ihmiset:</h4>
        <div th:replace="fragments/layout :: listusers(${user.followed})"></div>
      </div>
      <div>
        <h4>Seuraajasi:</h4>
        <div th:replace="fragments/layout :: listusers(${user.followers})"></div>
      </div>
    </div>
  </body>
</html>
