<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Search Results</title>
    <meta charset="UTF-8"></meta>
  </head>
  <body>
    <header th:replace="fragments/layout :: headerbar"></header>
    <h2>Results:</h2>
    <div th:replace="fragments/layout :: usersearchresult(user=${foundUser})">
      
    </div>
  </body>
</html>
